<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ACCOUNTSID" value="AC3137d76457814a5eabf7de62f346d39a" />
    <add key="AUTHTOKEN" value="01e8896765b4c7798e0f9d888948a9b2" />
    <add key="FROM" value="+19108638087" />

    <add key="MOBILESERVICEAPPURL" value="https://twiliosvcc.azure-mobile.net/" />
    <add key="MOBILESERVICEAPPKEY" value="diwLxWjfkYqNCjqeYTHpfvmblQdkae56" />

  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=twiliosvcc;AccountKey=XkCTlSuX/c6q01txls4tKzZHe6jYuKvrd4k/6wj6dku005u1dQsMESAxndEi672+kcVGDpQc3elL6PbQ9MsGVQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=twiliosvcc;AccountKey=XkCTlSuX/c6q01txls4tKzZHe6jYuKvrd4k/6wj6dku005u1dQsMESAxndEi672+kcVGDpQc3elL6PbQ9MsGVQ==" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>